
.AppTabs {

  display: flex;
  align-items: flex-end;
  height: 30px;
  font-size: 0.6em;

  .tab {
    padding: 7px;
    margin-bottom: 0;
    margin-right: 2px;
    height: 10px;
    color: white;
    background: #373737;
  }

}